@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;800;900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: 'Outfit', sans-serif;
}


.dropdown--hide {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
}

.dropdown--show {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.dropdown--expanded {
  height: auto;
}


.links span {
  position: relative;
  margin-right: 10px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
}

.links span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #D48D78;
  transition: .3s;
  ;
}

.links span:hover::before {
  width: 100%;
  background-color: #D48D78;
}